Mapping_landscape_ABM/Data/
Mapping_landscape_RL/3_figure/
Mapping_landscape_RL/2_code.zip
Mapping_landscape_RL/3_figures.zip
Mapping_landscape_RL/1_data.zip
Mapping_landscape_RL/1_data/

.vscode/
.Rproj.user/
form/
conda_env/